* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    color: #fff; /* Couleur du texte de l'en-tête */
    background-color: #333; /* Je suggère d'ajouter un fond pour distinguer l'en-tête */
}

#resetGame {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545; /* Rouge, mais choisissez la couleur que vous voulez */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetGame:hover {
    background-color: #c82333; /* Une teinte plus foncée pour l'effet hover */
}

.container {
    display: flex;
    flex-wrap: nowrap; /* Assure que les éléments sont sur une seule ligne */
    width: 100%;
    height: calc(100vh - 80px); /* J'ai ajusté cette hauteur pour tenir compte de l'en-tête */
}

.tasks, .players, .hacks {
    padding: 20px;
    color: #fff; /* Couleur du texte */
}

.tasks {
    background-color: #007bff; /* Bleu */
    flex: 2; /* Prend 2 parts de l'espace disponible */
    display: flex; /* Permet d'aligner les deux .task-section côte à côte */
    padding: 20px;
    color: rgb(0, 0, 0); /* Couleur du texte */
}

.players {
    background-color: #28a745; /* Vert */
    flex: 1; /* Prend 1 part de l'espace disponible */
    padding: 20px;
    color: #fff; /* Couleur du texte */
}

.hacks {
    background-color: #dc3545; /* Rouge */
    flex: 1; /* Prend 1 part de l'espace disponible */
    padding: 20px;
    color: #fff; /* Couleur du texte */
}

.task-section {
    flex: 1; /* Chaque section des tâches prend une part égale dans .tasks */
    margin-right: 10px; /* Espacement entre les deux tables */
}

.task-section:last-child {
    margin-right: 0; /* Pas de marge à droite pour la dernière section des tâches */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px; /* Ajout d'une marge en haut pour espacer les tableaux */
}

th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.main-content {
    display: flex;
    width: 100%;
}

.section {
    padding: 20px;
    color: #fff; /* Couleur du texte pour toutes les sections */
}

#section1 {
    background-color: #007bff; /* Bleu */
    flex: 2; /* Prend deux parts de l'espace disponible */
}

#section2 {
    background-color: #28a745; /* Vert */
    flex: 1; /* Prend une part de l'espace disponible */
}

#section3 {
    background-color: #dc3545; /* Rouge */
    flex: 1; /* Prend une part de l'espace disponible */
}

h2 {
    text-align: center; /* Centre le texte des titres */
    margin: 0 0 -20px 0; /* Ajustez la marge selon vos besoins */
}
.locked {
    color: red;
    font-weight: bold;
  }
  .task-image {
    text-align: center; /* Centre l'image dans la division */
    margin-top: 20px; /* Espace au-dessus de l'image */
}

.task-image img {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    height: auto; /* Garde le rapport hauteur/largeur de l'image */
}

.password-container {
    text-align: center; /* Centre les éléments à l'intérieur du conteneur */
    margin-top: 20px; /* Espace au-dessus du conteneur de mot de passe */
}

.password-container p {
    margin: 0 0 10px 0; /* Marge en bas de la phrase */
}

.password-container button {
    width: auto; /* Ajuste la largeur du bouton à son contenu */
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.password-container input[type='text'], .password-container button {
    margin: 10px auto; /* Centrage horizontal et espace au-dessus et en dessous */
    display: block; /* Affiche le champ de texte et le bouton sur des lignes séparées */
}
.unlocked {
    color: green;
    font-weight: bold;
}
